<a href="https://colab.research.google.com/github/jgrdn-srn/Linear-Algebra_2nd-Sem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
x = 1
a,b = 0, -1
x

1

Integers are positive and negative whole numbers that are non-fractional, it also include zero.

The type() function identifies what data type the variable is.

In [ ]:
type(x)

int

In [ ]:
y = 1.0
type(y)

float

Float is a numerical data type that include positive and negative real numbers that has a decimal point.

In [ ]:
x = float(x)
x

1.0

In [ ]:
x = int(x)
x

1

The float() and int() functions convert the variables into float and integer data types respectively.

In [ ]:
x = float(x)
type(x)

float

In [ ]:
s,t,u = "0", '1', 'one'
type(t)

str

In [ ]:
s_int = int(s)
s_int

0

The single and double apostrophe registers the text inside them as string data types.


A string is an immutable sequence data type. It is a collection of characters inside single, double or triple apostrophes.

##Operations

###Arithmetic

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
s = a+b
s

1.5

In [ ]:
### Subtraction
D = b-d 
D

31.5

In [ ]:
### Multiplication
P = a*d
P

-64.0

In [ ]:
### Division
Q = c/a
Q

0.0

These are simple mathematical operations that can be used on numerical data types. The addition operation (+) computes the sum of two or more numbers. Subtraction (-) calculates the difference. Multiplication, denoted by an asterisk (*) is used to get the product, and division denoted by a slash (/) is used to divide or get the quotient of two numbers.

In [ ]:
sar = 9.8
sab = 10.8

In [ ]:
### Floor Division
Fq = sab//sar
Fq

1.0

In [ ]:
### Exponentiation
E = sab**sar
E

13413830177.846376

In [ ]:
### Modulo
mod = sab%sar
mod

1.0

Floor division is a variation of simple division that rounds the quotient to a whole number.

Exponentiation is a mathematical expression that raises a certain number to a power of a certain value.

Modulo is another special type of operation that is under division, modulo denoted by a percent sign (%) divides two numbers and calculates the remainder.

###Assignment Operations

In [ ]:
G, H, J, K = 0, 100, 2, 3

In [ ]:
G += a
G

4.0

In [ ]:
H -= d
H

196

Increment is the continuous addition of a number (by itself or assigned to a variable) to another number. The sum is saved and the increment continuous.

Decrement is the continuous subtraction of a certain number from another number.

In [ ]:
J *= 2
J

16

In [ ]:
K **= 2
K

6561

A multiplier continuously multiplies a number with a specified number.

An exponential continuously raises a number to a certain power.

### Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non Equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

Comparators from the name itself compare values and cocnlude if they are true or false.

The equality symbol is double equal sign (==) this checks if two values are the same. It says true if they are the same and false if they are not.

Non Equality is denoted by the exclamation mark and equal sign(!=). It show true if two variables are not the same and false if it is the same.

Inequalities check if variables are less than, greater than, less than or equal to and greater than or equal to. If the conditions are met it shows true and false if not.

### Logical

Logical operators use the is, and, or, not operations to connect two or more expressions and analyze the value of the compound expression.

Is operator verifies if two variables are identical. It is true if they are identical.

Is not operator is true when two values are not identical.

And operator is true when both statements are true and it is false otherwise.

Or operator is true if one or both statements is true. In an occurence that both are false, then the or statement is false.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O

Print is an output function that displays what is inside the parentheses. You can call out variables and insert strings inside the print function.

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is: ", cnt)
cnt += 1

Hello World , Current run count is:  4

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 4

In [ ]:
sem_grade = 82.2435
name = ""
print("Hello {}, your semestral grade is {}".format(name, sem_grade))

Hello , your semestral grade is 82.2435

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg,w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 111821

'111821'

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: Onyxe
Enter prelim grade: 98
Enter midterm grade: 97
Enter finals grade: 95
Hello Onyxe, your semestral grade is: None

## Looping Statements

### While

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

### For

In [ ]:
# for (int i=0; i<10; i++){
# printf(i)
# } ##Java

i=0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
## array
playlist = ["I guess I'm in love", "Nothing", "Lowkey"]
print('Now Playing\n')
for song in playlist:
  print(song)

Now Playing

I guess I'm in love
Nothing
Lowkey

## Flow Control

###Condition Statements

In [ ]:
numeral1, numeral2 = 18, 18
if(numeral1 == numeral2):
  print("Yey")
elif(numeral1>numeral2):
  print("Hoho")
else:
  print("Aww")

Yey

### Functions

In [ ]:
def delete_user (userid):
  print("Succesfully deleted user: {}".format (userid))

def delete_all_users ():
  print("Everyone is dead.")

In [ ]:
userid = "Dana"
delete_user("Dana")
delete_all_users()

Succesfully deleted user: Dana
Everyone is dead.

In [ ]:
def add(addend1, addend2):
  return addend1 + addend2
def power_of_base2(exponent):
  return 2**exponent

In [ ]:
#addend1, addend2 = 8, 18
#add(addend1, addend2)

exponent = 8
power_of_base2(exponent)

256

## Assignment

In [ ]:
## Create a grade calculator that computes for the semestral grade of a course. 
## Students could type their names, the name of the course, then their prelim, midterms and final grade.
## The program should print the semestral grade in 2 decimal points and should display the following emojis
## depending on the situation:
## happy - when grade is greater than 70.00
## laughing - when grade is exactly 70.00
## sad - when grade is below 70.00
## happy, lol, sad = "\U0001F600", "\U0001F606", "\U0001F62D"

In [ ]:
happy,lol,sad = "\U0001F600" , "\U0001F606" , "\U0001F62D"
x = 70.00
name = input("Enter your Full Name:")
course = input("Enter your course:")
pg = float(input("Enter your Prelim Grade: "))
mg = float(input("Enter your Midterm Grade: "))
fg = float(input("enter your Final Grade: "))
sg =(pg*0.3) + (mg*0.3) +(fg*0.4)
sem_grade = "{:.2f}".format(sg)
if(float(sem_grade)>x):
  print("Hello {}, your semestral grade is: {} {}". format(name, sem_grade, happy))
elif(float(sem_grade)==x):
  print("Hello {}, your semestral grade is: {} {}". format(name, sem_grade, lol))
elif(float(sem_grade)<x):
  print("Hello {}, your semestral grade is: {} {}". format(name, sem_grade, sad))

Enter your Full Name:Rhyth Onyxe Sabio
Enter your course:Linear Algebra
Enter your Prelim Grade: 97
Enter your Midterm Grade: 94
enter your Final Grade: 89
Hello Rhyth Onyxe Sabio, your semestral grade is: 92.90 😀

In [ ]:
## Create a grade calculator that computes for the semestral grade of a course. 
## Students could type their names, the name of the course, then their prelim, midterms and final grade.
## The program should print the semestral grade in 2 decimal points and should display the following emojis
## depending on the situation:
## happy - when grade is greater than 70.00
## laughing - when grade is exactly 70.00
## sad - when grade is below 70.00
## happy, lol, sad = "\U0001F600", "\U0001F606", "\U0001F62D"

name = input("Name: ")
course = input("Course: ")
pre = float(input ("Enter prelim grade: "))
mid = float(input ("Enter midterm grade: "))
fin = float(input ("Enter final grade: "))
sem = pre*0.30 + mid*0.30 + fin*0.40
se = "{:.2f}".format(sem)
ave = 70.00
if(sem == ave):
  print("Your semestral grade is:",se, "\U0001F606")
elif(sem > ave):
  print("Your semestral grade is:",se, "\U0001F600")
else:
  print("Your semestral grade is:",se, "\U0001F62D")

Name: Jgiordana Sarno
Course: Linear Algebra
Enter prelim grade: 70
Enter midterm grade: 70
Enter final grade: 70
Your semestral grade is: 70.00 😆